ul{
   list-style-type: none;
   margin: 0; 
   padding: 0;
}
table{
    margin-top: 10px;
    th{
        background:linear-gradient(#7649ef,#dfdddd);
    }
    td{
        background: #dfdddd;
    }
}